@import "../../../styles/settings.scss";

.wrapper {
  padding: 100px 0;
  display: flex;
  // text-align: left;
  // justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  h3 {
  }
}
