@import "../../../styles/settings.scss";

.root {
  margin: 100px auto;
  text-align: center;

  p {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }

  a {
    font-size: 2rem;
    color: $color-border;
    text-decoration: none;
    &:hover {
      color: $color-neutral;
    }
  }
}
