@import "../../../styles/settings.scss";

.root {
  padding: 30px 100px;
}

.form {
  width: 100%;
}

.elemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.formElem {
  padding: 4px 7px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .root {
    padding: 30px 20px;
  }
  .elemWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
