@import "../../../styles/settings.scss";

.root {
  display: flex;
}

.panel {
  padding: 50px;
  width: 65vw;
  a {
    font-size: 2.6rem;
    text-decoration: none;
    color: $color-text;
    letter-spacing: 0.1rem;
    padding: 30px 0;
    &:hover {
      color: $color-neutral;
    }
  }
}

.manageSection {
  border-top: 1px solid lighten($color-border, 10%);
  padding-top: 15px;
  margin-top: 30px;
}
