@import "../../../styles/settings.scss";

.component {
  color: darken($color-border, 15%);
  background: $color-supplemental;
  border: 1px solid $color-border;
  text-align: center;
  padding: 1.2rem 1.8rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: $transition-all;
  outline: none;

  &:hover {
    background-color: lighten($color-neutral, 50%);
    color: $color-neutral;
    border-color: $color-neutral;
  }

  a {
    text-decoration: none;
    letter-spacing: 0.3rem;
    color: $color-text;
  }

  &.fab {
    background: none;
    border-radius: 50%;
    background: none;
    border: 0;
    padding: 0.5rem;
    display: inline-block;
    font-size: 2.5rem;
  }
}
