@import "../../../styles/settings.scss";

.nav {
  width: 35vw;
  overflow: auto;
  border-right: 1px solid lighten($color-border, 20%);

  h3 {
    font-size: 1.6rem;
    margin: 20px 0;
    font-weight: 200;

    padding: 0 10px;
    // font-weight: bold;
    // text-transform: uppercase;
    color: lighten($color-text, 50%);
    letter-spacing: 0.1rem;
  }

  ul {
    text-transform: uppercase;
    list-style: none;
    padding: 0 10px;
  }
  li {
    padding: 10px 0;
  }
}

.navlink {
  text-decoration: none;
  font-weight: 200;
  color: $color-text;
  letter-spacing: 0.3rem;
  font-size: 1.9rem;
  &:hover {
    color: $color-neutral;
  }
}
